<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rikkeisoft.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumActivity"
            android:label="@string/title_activity_album"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ArtistActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PlayerActivity"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity
            android:name=".activity.ActivityHandler"
            android:theme="@style/AppTheme.NoActionBar"  />

        <service android:name=".service.PlayerService" />

        <service android:name=".service.NotificationService" />

        <receiver android:name=".player.PlayerReceiver"
            android:permission="com.rikkeisoft.musicplayer.permission.PLAYER_CONTROLLER">
            <!--<intent-filter>-->
                <!--<action android:name="android.media.AUDIO_BECOMING_NOISY" />-->
                <!--<action android:name="android.intent.action.MEDIA_BUTTON" />-->

                <!--&lt;!&ndash;My Action&ndash;&gt;-->
                <!--<action android:name="com.rikkeisoft.musicplayer.action.PLAYER_PLAY_PAUSE" />-->
                <!--<action android:name="com.rikkeisoft.musicplayer.action.PLAYER_PREVIOUS" />-->
                <!--<action android:name="com.rikkeisoft.musicplayer.action.PLAYER_NEXT" />-->
            <!--</intent-filter>-->
        </receiver>

        <receiver
            android:icon="@mipmap/ic_launcher"
            android:label="Example Widget"
            android:name=".player.WidgetPlayer" >

            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_player" />

        </receiver>

    </application>

</manifest>